#!/bin/bash

# Launch `lorri` if present. If not, default to
# direnv's `use nix`.
if has lorri; then
  eval "$(lorri direnv)"
else
  use nix
fi

# Files to watch. If these files change, `direnv`
# will trigger a `direnv reload`.
watch_file package.json
watch_file pyproject.toml

# Loads a `.env` file into the current environment.
dotenv_if_exists .env

# Creates and loads a virtualenv environment
# under `$PWD/.direnv/python-$python_version`.
# The Python version loaded by `direnv` will
# default to the entry found in the root level
# `shell.nix` file.
layout python

# Refresh `invoke` instance. This will initialize any
# project configuration files, dependencies, and
# environment variables.
invoke refresh

if on_git_branch; then
  echo && git status --short --branch &&
    echo && git fetch --verbose
fi
